.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    flex-wrap: wrap;
    background-color: #fff;
    width: 95%;
    margin-inline: auto;
    border: 4px solid rgb(234, 147, 42);
    border-radius: 16px;
    padding-bottom: 64px;
}

.image {
    border: 3px solid rgb(224, 188, 144);
    border-radius: 16px;
    padding: 16px 4px;
}
.description {
    border: 3px solid rgb(224, 188, 144);
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    border-radius: 16px;
    margin-top: 64px;
}
.actions {
    border: 3px solid rgb(224, 188, 144);
    border-radius: 16px;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
}
.content {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 64px;
    gap: 24px
}


.title {
    color: black;
    font-weight: 600;
    margin-right: 8px;
}

.text {
    color: black;
}
.headTitle {
    color: black;
    font-weight: 900;
    text-align: center;
    background-color: rgb(222, 200, 173);
    border-radius: 16px;
    margin-block: 12px;
}
.drop {
    color: black;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-block: 6px;
}

.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 1.2em;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-block: 6px;
    background-color: rgb(238, 176, 101);
    color: rgba(255, 255, 255, 0.87);
    width: 100%;
}

.contentBread {
    display: flex;
    align-items: center;
    padding-left: 48px;
    padding-top: 16px;
    gap: 24px
}
.back {
    background-color: rgb(238, 176, 101);
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
}
.back i {
    color: #ea477d;
    font-size: 20px;
}
.bread {
    display: flex;
    align-items: center;
    color: gray;
}
.link {
    color: gray;
}

.spinner {
    width: 36px;
    height: 36px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-left-color: #7d47ff;
  
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .container_spinner {
    /* border: 1px solid black; */
    position: absolute;
    top: 40%;
    left: 50%
  }