.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 16px
}

.form {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 16px;
}
.form_control {
    padding: 6px 12px;
    background-color: #fff;
    color: black;
    border: 1px solid rgb(238, 176, 101);
}
.searchButton {
    background-color: rgb(238, 176, 101);
    border: 1px solid rgb(238, 176, 101);
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bread {
    color: gray;
    margin-left: 48px;
    margin-top: 12px;
    cursor: pointer;
}


@media only screen and (max-width: 1024px)  {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px)  {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}