
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #ecce59;
    border-radius: 16px;
}

.image {
    width: 256px;
}

.description {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    gap: 6px;
}
.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(193, 188, 188);
    padding: 0 32px;
    border-radius: 12px;
}
.title {
    font-weight: 600;
    font-size: 20px;
}
.subtitle {
    font-weight: 600;
}
.detalle {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 1.2em;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-block: 6px;
    background-color: rgb(238, 176, 101);
    color: rgba(255, 255, 255, 0.87);
}
