.container {
    /* background-color: red; */
    width: 90vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text {
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    line-height: 1.2;
    margin-top: 24px;
}

.image {
    width: 300px;
}