.nav {
    display: flex;
    gap: 20px;
    height: 64px;
    background-color: #ec9152;
    align-items: center;
    padding-inline: 16px;
    position: relative;
}

.title {
    color: #ea477d;
    font-weight: 900;
    font-size: 20px;
}

.content {
    display: flex;
    margin-left: 24px;
    gap: 24px;
}

.cart {
    position: absolute;
    right: 28px;
    margin-top: 12px;
}
.cart i {
    font-size: 36px;
    color: #ea477d;;
}
.counter {
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0 4px;
    top: -12px;
    right: -10px;
    font-size: 12px;
    background-color: #fff;
    color: black;
}